.loginCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.loginCard > div {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.loginSpace {
  justify-content: center;
  flex: 1 1 100%;
  flex-wrap: wrap;
  padding: 1rem 0 2rem 0;
}

.loginSpaceGoogleBtn > div {
  width: 100%;
  justify-content: center;
  display: flex;
}

.googleBtn {
  height: auto;
  max-width: 230px;
  min-width: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
