.drawer {
  background-color: red;
  position: relative;
  white-space: nowrap;
  width: 240px;
  /* transition: ('width', ease-in:); */
  box-sizing: border-box;
}

.menu_link {
  @apply flex items-center w-full h-12 px-3 mt-2 rounded hover:bg-gray-700 hover:text-gray-100;
}

.menu_title {
  @apply ml-2 text-sm font-medium;
}

.profile_link {
  @apply flex items-center justify-center w-full h-16 mt-auto dark:bg-gray-800 hover:bg-gray-700 hover:text-gray-300;
}
